extends layout

block content
    h1= Searh
    form#formSearch(name="search",method="post",action="/searchstatus")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputDate(type="text", placeholder="date", name="date")
        button#btnSubmit(type="submit") search